#### Первое что мы должны сделать - это подключиться к Google Cloud:

In [2]:
conda install pandas-gbq -c conda-forge # Установим библиотеки для подключения к API Google Coud

Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas-gbq

Requirement already satisfied: pandas-gbq in c:\programdata\anaconda3\lib\site-packages (0.14.1)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: google-auth-oauthlib in c:\users\chafi\appdata\roaming\python\python38\site-packages (from pandas-gbq) (0.4.2)
Requirement already satisfied: google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from pandas-gbq) (2.8.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from pandas-gbq) (49.2.0.post20200714)
Requirement already satisfied: pandas>=0.20.1 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from pandas-gbq) (1.1.4)
Requirement already satisfied: google-auth in c:\users\chafi\appdata\roaming\python\python38\site-packages (from pandas-gbq) (1.26.1)
Requirement already satisfied: pydata-google-auth in c:\programdata\anaconda3\lib\site-packages (from pandas-gbq) (1.1.0)

Requirement already satisfied: google-resumable-media<2.0dev,>=0.6.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.2.0)
Requirement already satisfied: google-api-core[grpc]<2.0.0dev,>=1.23.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.26.0)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.4.1 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.6.0)
Requirement already satisfied: protobuf>=3.12.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (3.14.0)
Requirement already satisfied: proto-plus>=1.10.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.13.0)
Requirement already satisfied: pyarrow<4.0dev,>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (3.0.0)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (2.2.1)
Requirement already satisfied: grpcio<2.0dev,>=1.32.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.33.2)
Requirement already satisfied: packaging>=14.3 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (20.4)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (2.24.0)
Requirement already satisfied: pytz in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (2020.4)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.52.0)
Requirement already satisfied: six>=1.13.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-auth->pandas-gbq) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-auth->pandas-gbq) (4.1.1)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-auth->pandas-gbq) (4.6)

WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: libcst>=0.2.5 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-cloud-bigquery-storage<3.0.0dev,>=2.0.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (0.3.17)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.1.2)
Requirement already satisfied: cffi>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.14.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (2.20)
Requirement already satisfied: typing-extensions>=3.7.4.2 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from libcst>=0.2.5->google-cloud-bigquery-storage<3.0.0dev,>=2.0.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (3.7.4.3)
Requirement already satisfied: typing-inspect>=0.4.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from libcst>=0.2.5->google-cloud-bigquery-storage<3.0.0dev,>=2.0.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (0.6.0)
Requirement already satisfied: pyyaml>=5.2 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from libcst>=0.2.5->google-cloud-bigquery-storage<3.0.0dev,>=2.0.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (5.4.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=14.3->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (2.4.7)
Requirement already satisfied: numpy>=1.15.4 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.20.1->pandas-gbq) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.20.1->pandas-gbq) (2.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from pyasn1-modules>=0.2.1->google-auth->pandas-gbq) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (1.25.9)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from typing-inspect>=0.4.0->libcst>=0.2.5->google-cloud-bigquery-storage<3.0.0dev,>=2.0.0->google-cloud-bigquery[bqstorage,pandas]<3.0.0dev,>=1.11.1->pandas-gbq) (0.4.3)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from google-auth-oauthlib->pandas-gbq) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\chafi\appdata\roaming\python\python38\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->pandas-gbq) (3.1.0)

#### Далее мы импортируем библиотеки pandas и google.oauth2, это необходимо для возможности использовать SQL запросы к  Google Cloud и дальнейшей обработки данных в pandas:

In [4]:
import pandas as pd # Импортируем библиотеку Pandas

In [5]:
from google.oauth2 import service_account

#### Для подключения к Google Cloud мы указываем путь к файлу формата json в котором содержится зашифрованный ключ к нашему аккаунту:

In [6]:
credentials = service_account.Credentials.from_service_account_file(r'C:\Users\chafi\Downloads\My Project 38885-205f6c5e091a.json')

#### После того как мы подключились к нашему аккаунту мы можем применить SQL запрос для вывода необходимых нам данных:

In [7]:
query = '''

WITH
  session_data AS (
  SELECT
    date,
    fullVisitorId,
    visitNumber,
    IF(trafficSource.isTrueDirect, "(direct)", trafficSource.source) AS Source,
    IF(trafficSource.isTrueDirect, "(none)", trafficSource.medium) AS Medium,
    IF(trafficSource.isTrueDirect, "(not set)", trafficSource.campaign) AS Campaign,
    IF(trafficSource.isTrueDirect, "Direct", channelGrouping) AS Channel_Group,
    totals.transactions AS Transactions,
    totals.totalTransactionRevenue AS Revenue,
    
    
  FROM
    `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
    UNNEST(hits) AS hit
  WHERE
    _TABLE_SUFFIX >= '20170501'
    AND _TABLE_SUFFIX <= '20170530'
  GROUP BY
    date,
    fullVisitorId,
    visitNumber,
    Source, 
    Medium,
    Campaign,
    Channel_Group,
    Transactions,
    Revenue) (
  WITH
    path_data AS (
    SELECT
      fullVisitorId AS Google_client_Id,
      STRING_AGG(Channel_Group, ' > ') OVER (PARTITION BY fullVisitorId ORDER BY visitNumber ROWS UNBOUNDED PRECEDING) AS Channel_funnel,
      STRING_AGG(Medium, ' > ') OVER (PARTITION BY FullVisitorId ORDER BY visitNumber ROWS UNBOUNDED PRECEDING) AS Medium_funnel,
      STRING_AGG(source, ' > ') OVER (PARTITION BY FullVisitorId ORDER BY visitNumber ROWS UNBOUNDED PRECEDING) AS Source_funnel,
      STRING_AGG(Campaign, ' > ') OVER (PARTITION BY FullVisitorId ORDER BY visitNumber ROWS UNBOUNDED PRECEDING) AS Campaign_funnel,
      SUM(Transactions) AS Transactions,
      SUM(Revenue/1000000) AS Revenue,
    FROM
      session_data AS data
    GROUP BY
      Google_client_Id,
      Channel_Group,
      visitNumber,
      Medium,
      Source,
      Campaign)
  SELECT
    *
  FROM
    path_data)
'''

In [8]:
project_id = 'quantum-genre-299519'

#### После этого можем создать датафрейм:

In [9]:
df = pd.read_gbq(query, project_id=project_id, credentials=credentials)

#### Далее мы будем обрабатывать наше датафрейм:

In [10]:
display(df.head(1000))

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue
0,0000197671390269035,Social,referral,m.facebook.com,(not set),NaN,NaN
1,0000458812883559498,Organic Search,organic,google,(not set),NaN,NaN
2,0000572434142265465,Referral,(none),(direct),(not set),NaN,NaN
3,0001436786657417059,Organic Search,organic,google,(not set),NaN,NaN
4,0001611849527956932,Direct,(none),(direct),(not set),NaN,NaN
...,...,...,...,...,...,...,...
995,0160608006828160561,Social,referral,youtube.com,(not set),NaN,NaN
996,0160624362519211771,Organic Search,organic,google,(not set),NaN,NaN
997,0161235414656541525,Organic Search,organic,google,(not set),NaN,NaN
998,0161326209203992257,Organic Search,organic,google,(not set),NaN,NaN
999,0161333609112255170,Direct,(none),(direct),(not set),NaN,NaN

#### Добавим новый столбец New_Transactions:

In [11]:
df['New_Transactions'] = df['Transactions']

In [12]:
df

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
0,0000197671390269035,Social,referral,m.facebook.com,(not set),NaN,NaN,NaN
1,0000458812883559498,Organic Search,organic,google,(not set),NaN,NaN,NaN
2,0000572434142265465,Referral,(none),(direct),(not set),NaN,NaN,NaN
3,0001436786657417059,Organic Search,organic,google,(not set),NaN,NaN,NaN
4,0001611849527956932,Direct,(none),(direct),(not set),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
62980,9999350616287088509,Organic Search,organic,google,(not set),NaN,NaN,NaN
62981,9999355589118867468,Referral,referral,analytics.google.com,(not set),NaN,NaN,NaN
62982,9999355589118867468,Referral > Organic Search,referral > organic,analytics.google.com > google,(not set) > (not set),NaN,NaN,NaN
62983,9999520059803839410,Organic Search,organic,google,(not set),NaN,NaN,NaN
62984,9999734227490626461,Social,referral,facebook.com,(not set),NaN,NaN,NaN

#### Отсортируем по возрастанию по столбику New_Transactions датафрейм, для проверки данных:

In [13]:
df.sort_values(by='New_Transactions', ascending=False)

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
30849,4921413806940784676,Direct > Direct > Direct > Direct > Organic Se...,(none) > (none) > (none) > (none) > organic > ...,(direct) > (direct) > (direct) > (direct) > go...,(not set) > (not set) > (not set) > (not set) ...,4.0,608.59,4.0
14998,2402527199731150932,Direct,(none),(direct),(not set),4.0,246.18,4.0
31312,4988517937139937145,Direct,(none),(direct),(not set),3.0,63.97,3.0
56783,9026840718082010040,Direct > Direct > Direct > Direct > Direct > D...,(none) > (none) > (none) > (none) > (none) > (...,(direct) > (direct) > (direct) > (direct) > (d...,(not set) > (not set) > (not set) > (not set) ...,3.0,2298.60,3.0
24251,3882155860208938967,Direct > Referral > Direct,(none) > (none) > (none),(direct) > (direct) > (direct),(not set) > (not set) > (not set),2.0,559.51,2.0
...,...,...,...,...,...,...,...,...
62980,9999350616287088509,Organic Search,organic,google,(not set),NaN,NaN,NaN
62981,9999355589118867468,Referral,referral,analytics.google.com,(not set),NaN,NaN,NaN
62982,9999355589118867468,Referral > Organic Search,referral > organic,analytics.google.com > google,(not set) > (not set),NaN,NaN,NaN
62983,9999520059803839410,Organic Search,organic,google,(not set),NaN,NaN,NaN
62984,9999734227490626461,Social,referral,facebook.com,(not set),NaN,NaN,NaN

#### Проверим тип данных для столбцов:

In [14]:
df.dtypes

Google_client_Id     object
Channel_funnel       object
Medium_funnel        object
Source_funnel        object
Campaign_funnel      object
Transactions        float64
Revenue             float64
New_Transactions    float64
dtype: object

#### Изменим тип данных для столбца New_Transactions на str, это необходимо для изменения данных:

In [15]:
df[['New_Transactions']] = df[['New_Transactions']].astype(str)

In [16]:
df.dtypes

Google_client_Id     object
Channel_funnel       object
Medium_funnel        object
Source_funnel        object
Campaign_funnel      object
Transactions        float64
Revenue             float64
New_Transactions     object
dtype: object

#### Далее мы меняем значения в столбце New_Transactions:

In [17]:
df["New_Transactions"].replace({"4.0": "1.0"}, inplace=True)

In [18]:
df.sort_values(by='New_Transactions', ascending=True)

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
37857,6023796381284015578,Direct,(none),(direct),(not set),1.0,40.59,1.0
56585,8997285863534192253,Referral > Direct,(none) > (none),(direct) > (direct),(not set) > (not set),1.0,117.91,1.0
10888,1749853719127085935,Direct,(none),(direct),(not set),1.0,24.99,1.0
34480,5483156497557634103,Social > Direct,referral > (none),groups.google.com > (direct),(not set) > (not set),1.0,34.59,1.0
17380,2778312825087268268,Direct,(none),(direct),(not set),1.0,69.36,1.0
...,...,...,...,...,...,...,...,...
21172,3385501868972757824,Referral,(none),(direct),(not set),NaN,NaN,nan
21173,3385501868972757824,Referral > Direct,(none) > (none),(direct) > (direct),(not set) > (not set),NaN,NaN,nan
21174,3385501868972757824,Referral > Direct > Direct,(none) > (none) > (none),(direct) > (direct) > (direct),(not set) > (not set) > (not set),NaN,NaN,nan
21146,3380543152349331595,Organic Search > Direct,organic > (none),google > (direct),(not set) > (not set),NaN,NaN,nan
62984,9999734227490626461,Social,referral,facebook.com,(not set),NaN,NaN,nan

#### Далее мы проверим наши изменения по конкретной строке в данном случае по Revenue и значению 608.59:

In [19]:
df[df['Revenue'].isin(['608.59'])]

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
30849,4921413806940784676,Direct > Direct > Direct > Direct > Organic Se...,(none) > (none) > (none) > (none) > organic > ...,(direct) > (direct) > (direct) > (direct) > go...,(not set) > (not set) > (not set) > (not set) ...,4.0,608.59,1.0

In [20]:
df["New_Transactions"].replace({"3.0": "1.0"}, inplace=True)

In [21]:
df[df['Revenue'].isin(['2298.6'])]

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
56783,9026840718082010040,Direct > Direct > Direct > Direct > Direct > D...,(none) > (none) > (none) > (none) > (none) > (...,(direct) > (direct) > (direct) > (direct) > (d...,(not set) > (not set) > (not set) > (not set) ...,3.0,2298.6,1.0

In [22]:
df["New_Transactions"].replace({"2.0": "1.0"}, inplace=True)

In [23]:
df[df['Revenue'].isin(['559.51'])]

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
24251,3882155860208938967,Direct > Referral > Direct,(none) > (none) > (none),(direct) > (direct) > (direct),(not set) > (not set) > (not set),2.0,559.51,1.0

In [24]:
df["New_Transactions"].replace({"nan": "2.0"}, inplace=True)

In [25]:
df[df['Google_client_Id'].isin(['6711117305274413893'])]

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
42187,6711117305274413893,Organic Search,organic,google,(not set),NaN,NaN,2.0

In [26]:
df["New_Transactions"].replace({"1.0": ""}, inplace=True)

In [27]:
df[df['Revenue'].isin(['559.51'])]

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
24251,3882155860208938967,Direct > Referral > Direct,(none) > (none) > (none),(direct) > (direct) > (direct),(not set) > (not set) > (not set),2.0,559.51,

In [28]:
df[df['Revenue'].isin(['2298.6'])]

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
56783,9026840718082010040,Direct > Direct > Direct > Direct > Direct > D...,(none) > (none) > (none) > (none) > (none) > (...,(direct) > (direct) > (direct) > (direct) > (d...,(not set) > (not set) > (not set) > (not set) ...,3.0,2298.6,

In [29]:
df["New_Transactions"].replace({"2.0": "1.0"}, inplace=True)

In [30]:
df[df['Google_client_Id'].isin(['6711117305274413893'])]

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
42187,6711117305274413893,Organic Search,organic,google,(not set),NaN,NaN,1.0

#### Следующим шагом мы меняем тип данных для столбца New_Transactions на float:

In [31]:
df['New_Transactions'] = pd.to_numeric(df['New_Transactions'], errors='coerce')
df.dtypes

Google_client_Id     object
Channel_funnel       object
Medium_funnel        object
Source_funnel        object
Campaign_funnel      object
Transactions        float64
Revenue             float64
New_Transactions    float64
dtype: object

In [32]:
df[df['Google_client_Id'].isin(['6711117305274413893'])]

,Google_client_Id,Channel_funnel,Medium_funnel,Source_funnel,Campaign_funnel,Transactions,Revenue,New_Transactions
42187,6711117305274413893,Organic Search,organic,google,(not set),NaN,NaN,1.0

#### Далее мы проверяем тип данных:

In [33]:
df.dtypes

Google_client_Id     object
Channel_funnel       object
Medium_funnel        object
Source_funnel        object
Campaign_funnel      object
Transactions        float64
Revenue             float64
New_Transactions    float64
dtype: object

#### Далее применим функцию группировки для Channel_funnel по Transactions:

In [34]:
col_Transactions = df.groupby('Channel_funnel')['Transactions'].sum().reset_index()

In [35]:
col_Transactions.sort_values(by='Transactions', ascending=False)

                                      Channel_funnel  Transactions
32                                            Direct         314.0
326                                   Organic Search         138.0
566                                         Referral         135.0
45                                   Direct > Direct         101.0
579                                Referral > Direct          67.0
..                                               ...           ...
249                             Direct > Paid Search           0.0
250                    Direct > Paid Search > Direct           0.0
252  Direct > Paid Search > Direct > Direct > Direct           0.0
253      Direct > Paid Search > Direct > Paid Search           0.0
717                         Social > Social > Social           0.0

[718 rows x 2 columns]

#### Далее применим функцию группировки для Channel_funnel по Revenue:

In [36]:
col_Revenue = df.groupby('Channel_funnel')['Revenue'].sum().reset_index()
col_Revenue.sort_values(by='Revenue', ascending=False)

                                      Channel_funnel   Revenue
32                                            Direct  31938.92
45                                   Direct > Direct  15094.07
566                                         Referral  12566.75
326                                   Organic Search  10302.27
46                          Direct > Direct > Direct   6725.31
..                                               ...       ...
249                             Direct > Paid Search      0.00
250                    Direct > Paid Search > Direct      0.00
252  Direct > Paid Search > Direct > Direct > Direct      0.00
253      Direct > Paid Search > Direct > Paid Search      0.00
717                         Social > Social > Social      0.00

[718 rows x 2 columns]

#### Далее применим функцию группировки для Channel_funnel по New_Transactions:

In [37]:
col_New_Transactions = df.groupby('Channel_funnel')['New_Transactions'].sum().reset_index()
col_New_Transactions.sort_values(by='New_Transactions', ascending=True)

                                        Channel_funnel  New_Transactions
135  Direct > Direct > Direct > Direct > Organic Se...               0.0
531     Paid Search > Direct > Direct > Organic Search               0.0
595  Referral > Direct > Direct > Direct > Direct >...               0.0
228                  Direct > Display > Organic Search               0.0
609  Referral > Direct > Direct > Referral > Direct...               0.0
..                                                 ...               ...
45                                     Direct > Direct            2253.0
686                                             Social            2990.0
566                                           Referral            4741.0
32                                              Direct           14828.0
326                                     Organic Search           24937.0

[718 rows x 2 columns]

#### Объединим получившиеся таблицы в одну:

In [38]:
col_Transactions = col_Transactions.assign(col_New_Transactions=col_New_Transactions.New_Transactions)

In [39]:
col_Transactions
col_Transactions.sort_values(by='col_New_Transactions', ascending=False)

,Channel_funnel,Transactions,col_New_Transactions
326,Organic Search,138.0,24937.0
32,Direct,314.0,14828.0
566,Referral,135.0,4741.0
686,Social,15.0,2990.0
45,Direct > Direct,101.0,2253.0
...,...,...,...
531,Paid Search > Direct > Direct > Organic Search,1.0,0.0
530,Paid Search > Direct > Direct > Direct > Direc...,1.0,0.0
609,Referral > Direct > Direct > Referral > Direct...,1.0,0.0
290,Direct > Referral > Referral > Direct > Referral,1.0,0.0
220,Direct > Display > Direct > Direct > Direct > ...,1.0,0.0

In [40]:
df = col_Transactions
df.sort_values(by='col_New_Transactions', ascending=False)

,Channel_funnel,Transactions,col_New_Transactions
326,Organic Search,138.0,24937.0
32,Direct,314.0,14828.0
566,Referral,135.0,4741.0
686,Social,15.0,2990.0
45,Direct > Direct,101.0,2253.0
...,...,...,...
531,Paid Search > Direct > Direct > Organic Search,1.0,0.0
530,Paid Search > Direct > Direct > Direct > Direc...,1.0,0.0
609,Referral > Direct > Direct > Referral > Direct...,1.0,0.0
290,Direct > Referral > Referral > Direct > Referral,1.0,0.0
220,Direct > Display > Direct > Direct > Direct > ...,1.0,0.0

#### Получаются следующие столбцы:

In [41]:
df.columns

Index(['Channel_funnel', 'Transactions', 'col_New_Transactions'], dtype='object')

#### Переименуем столбцы:

In [42]:
df = df.rename(columns={'Transactions': 'total_conv', 'col_New_Transactions': 'total_null'})

In [43]:
df

                                     Channel_funnel  total_conv  total_null
0                                        Affiliates         0.0       969.0
1                               Affiliates > Direct         0.0       109.0
2                      Affiliates > Direct > Direct         0.0        26.0
3             Affiliates > Direct > Direct > Direct         0.0         8.0
4    Affiliates > Direct > Direct > Direct > Direct         0.0         2.0
..                                              ...         ...         ...
713                      Social > Referral > Social         0.0         7.0
714             Social > Referral > Social > Social         0.0         2.0
715                                 Social > Social         0.0        22.0
716                      Social > Social > Referral         0.0         1.0
717                        Social > Social > Social         0.0         3.0

[718 rows x 3 columns]

#### Далее импортируем библиотеку numpy для дальнейшей обработки данных:

In [44]:
import numpy as np

#### Добавим новый столбец total_conversion_value и заполним его пустыми значениями:

In [45]:
df["total_conversion_value"] = np.nan

In [46]:
df

,Channel_funnel,total_conv,total_null,total_conversion_value
0,Affiliates,0.0,969.0,NaN
1,Affiliates > Direct,0.0,109.0,NaN
2,Affiliates > Direct > Direct,0.0,26.0,NaN
3,Affiliates > Direct > Direct > Direct,0.0,8.0,NaN
4,Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,NaN
...,...,...,...,...
713,Social > Referral > Social,0.0,7.0,NaN
714,Social > Referral > Social > Social,0.0,2.0,NaN
715,Social > Social,0.0,22.0,NaN
716,Social > Social > Referral,0.0,1.0,NaN
717,Social > Social > Social,0.0,3.0,NaN

#### Переименуем Channel_funnel на path это необходимо для правильной работы библиотеки mta:

In [47]:
df = df.rename(columns={'Channel_funnel': 'path'})

In [48]:
df

,path,total_conv,total_null,total_conversion_value
0,Affiliates,0.0,969.0,NaN
1,Affiliates > Direct,0.0,109.0,NaN
2,Affiliates > Direct > Direct,0.0,26.0,NaN
3,Affiliates > Direct > Direct > Direct,0.0,8.0,NaN
4,Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,NaN
...,...,...,...,...
713,Social > Referral > Social,0.0,7.0,NaN
714,Social > Referral > Social > Social,0.0,2.0,NaN
715,Social > Social,0.0,22.0,NaN
716,Social > Social > Referral,0.0,1.0,NaN
717,Social > Social > Social,0.0,3.0,NaN

In [49]:
df.dtypes

path                       object
total_conv                float64
total_null                float64
total_conversion_value    float64
dtype: object

In [50]:
df = df.replace('', '0', regex=True)

In [51]:
df

,path,total_conv,total_null,total_conversion_value
0,Affiliates,0.0,969.0,NaN
1,Affiliates > Direct,0.0,109.0,NaN
2,Affiliates > Direct > Direct,0.0,26.0,NaN
3,Affiliates > Direct > Direct > Direct,0.0,8.0,NaN
4,Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,NaN
...,...,...,...,...
713,Social > Referral > Social,0.0,7.0,NaN
714,Social > Referral > Social > Social,0.0,2.0,NaN
715,Social > Social,0.0,22.0,NaN
716,Social > Social > Referral,0.0,1.0,NaN
717,Social > Social > Social,0.0,3.0,NaN

#### Изменим тип данных total_conversion_value на float:

In [52]:
df[['total_conversion_value']] = df[['total_conversion_value']].astype(float)

In [53]:
df.dtypes

path                       object
total_conv                float64
total_null                float64
total_conversion_value    float64
dtype: object

In [54]:
df

,path,total_conv,total_null,total_conversion_value
0,Affiliates,0.0,969.0,NaN
1,Affiliates > Direct,0.0,109.0,NaN
2,Affiliates > Direct > Direct,0.0,26.0,NaN
3,Affiliates > Direct > Direct > Direct,0.0,8.0,NaN
4,Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,NaN
...,...,...,...,...
713,Social > Referral > Social,0.0,7.0,NaN
714,Social > Referral > Social > Social,0.0,2.0,NaN
715,Social > Social,0.0,22.0,NaN
716,Social > Social > Referral,0.0,1.0,NaN
717,Social > Social > Social,0.0,3.0,NaN

In [55]:
df = df.rename(columns={'total_conv': 'total_conversions'})

In [56]:
df

,path,total_conversions,total_null,total_conversion_value
0,Affiliates,0.0,969.0,NaN
1,Affiliates > Direct,0.0,109.0,NaN
2,Affiliates > Direct > Direct,0.0,26.0,NaN
3,Affiliates > Direct > Direct > Direct,0.0,8.0,NaN
4,Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,NaN
...,...,...,...,...
713,Social > Referral > Social,0.0,7.0,NaN
714,Social > Referral > Social > Social,0.0,2.0,NaN
715,Social > Social,0.0,22.0,NaN
716,Social > Social > Referral,0.0,1.0,NaN
717,Social > Social > Social,0.0,3.0,NaN

In [57]:
df.sort_values(by='total_null', ascending=True)

,path,total_conversions,total_null,total_conversion_value
135,Direct > Direct > Direct > Direct > Organic Se...,4.0,0.0,NaN
531,Paid Search > Direct > Direct > Organic Search,1.0,0.0,NaN
595,Referral > Direct > Direct > Direct > Direct >...,1.0,0.0,NaN
228,Direct > Display > Organic Search,1.0,0.0,NaN
609,Referral > Direct > Direct > Referral > Direct...,1.0,0.0,NaN
...,...,...,...,...
45,Direct > Direct,101.0,2253.0,NaN
686,Social,15.0,2990.0,NaN
566,Referral,135.0,4741.0,NaN
32,Direct,314.0,14828.0,NaN
326,Organic Search,138.0,24937.0,NaN

#### Заполним пустые значения нулями в total_conversion_value:

In [58]:
df[['total_conversion_value']] = df[['total_conversion_value']].astype(str)
df["total_conversion_value"].replace({"nan": "0"}, inplace=True)
df

,path,total_conversions,total_null,total_conversion_value
0,Affiliates,0.0,969.0,0
1,Affiliates > Direct,0.0,109.0,0
2,Affiliates > Direct > Direct,0.0,26.0,0
3,Affiliates > Direct > Direct > Direct,0.0,8.0,0
4,Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,0
...,...,...,...,...
713,Social > Referral > Social,0.0,7.0,0
714,Social > Referral > Social > Social,0.0,2.0,0
715,Social > Social,0.0,22.0,0
716,Social > Social > Referral,0.0,1.0,0
717,Social > Social > Social,0.0,3.0,0

In [59]:
df['total_conversion_value'] = pd.to_numeric(df['total_conversion_value'], errors='coerce')
df.dtypes

path                       object
total_conversions         float64
total_null                float64
total_conversion_value      int64
dtype: object

In [60]:
df

,path,total_conversions,total_null,total_conversion_value
0,Affiliates,0.0,969.0,0
1,Affiliates > Direct,0.0,109.0,0
2,Affiliates > Direct > Direct,0.0,26.0,0
3,Affiliates > Direct > Direct > Direct,0.0,8.0,0
4,Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,0
...,...,...,...,...
713,Social > Referral > Social,0.0,7.0,0
714,Social > Referral > Social > Social,0.0,2.0,0
715,Social > Social,0.0,22.0,0
716,Social > Social > Referral,0.0,1.0,0
717,Social > Social > Social,0.0,3.0,0

In [61]:
df['total_conversion_value'].fillna(0, inplace=True)

In [62]:
df

,path,total_conversions,total_null,total_conversion_value
0,Affiliates,0.0,969.0,0
1,Affiliates > Direct,0.0,109.0,0
2,Affiliates > Direct > Direct,0.0,26.0,0
3,Affiliates > Direct > Direct > Direct,0.0,8.0,0
4,Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,0
...,...,...,...,...
713,Social > Referral > Social,0.0,7.0,0
714,Social > Referral > Social > Social,0.0,2.0,0
715,Social > Social,0.0,22.0,0
716,Social > Social > Referral,0.0,1.0,0
717,Social > Social > Social,0.0,3.0,0

In [63]:
df.sort_values(by='total_conversions', ascending=False)

,path,total_conversions,total_null,total_conversion_value
32,Direct,314.0,14828.0,0
326,Organic Search,138.0,24937.0,0
566,Referral,135.0,4741.0,0
45,Direct > Direct,101.0,2253.0,0
579,Referral > Direct,67.0,750.0,0
...,...,...,...,...
249,Direct > Paid Search,0.0,34.0,0
250,Direct > Paid Search > Direct,0.0,5.0,0
252,Direct > Paid Search > Direct > Direct > Direct,0.0,1.0,0
253,Direct > Paid Search > Direct > Paid Search,0.0,1.0,0
717,Social > Social > Social,0.0,3.0,0

In [64]:
df

,path,total_conversions,total_null,total_conversion_value
0,Affiliates,0.0,969.0,0
1,Affiliates > Direct,0.0,109.0,0
2,Affiliates > Direct > Direct,0.0,26.0,0
3,Affiliates > Direct > Direct > Direct,0.0,8.0,0
4,Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,0
...,...,...,...,...
713,Social > Referral > Social,0.0,7.0,0
714,Social > Referral > Social > Social,0.0,2.0,0
715,Social > Social,0.0,22.0,0
716,Social > Social > Referral,0.0,1.0,0
717,Social > Social > Social,0.0,3.0,0

#### Удалим индексы для path - это необходимо для корректной работы библиотеки mta:

In [65]:
df.set_index('path', inplace=True)
df

,total_conversions,total_null,total_conversion_value
path,,,
Affiliates,0.0,969.0,0
Affiliates > Direct,0.0,109.0,0
Affiliates > Direct > Direct,0.0,26.0,0
Affiliates > Direct > Direct > Direct,0.0,8.0,0
Affiliates > Direct > Direct > Direct > Direct,0.0,2.0,0
...,...,...,...
Social > Referral > Social,0.0,7.0,0
Social > Referral > Social > Social,0.0,2.0,0
Social > Social,0.0,22.0,0
Social > Social > Referral,0.0,1.0,0
Social > Social > Social,0.0,3.0,0

#### Далее мы сохраняем датафрейм в файл csv:

In [66]:
df.to_csv('data.csv')

#### Импортируем библиотеку mta:

In [67]:
import mta
from mta import MTA

#### Укажем путь к файлу csv с датафреймом

In [68]:
mta = MTA(data='C:\\Users\\chafi\\data.csv', allow_loops = False)

running remove_loops.. elapsed time: 0.164 sec

#### Работа в библиотеке mta:

In [69]:
mta.first_touch()
mta.last_touch()
mta.time_decay()
mta.markov()
mta.shapley()
mta.shao()
MTADF = pd.DataFrame.from_dict(mta.attribution).to_csv('mta_results.csv') # Сохраним результаты в csv файл:

running first_touch.. elapsed time: 0.030 sec
running last_touch.. elapsed time: 0.018 sec
running time_decay.. elapsed time: 0.005 sec
running markov.. elapsed time: 0.629 sec
running shapley.. elapsed time: 0.033 sec
running shao.. elapsed time: 0.032 sec

#### Выведем результаты:

In [70]:
mta.show()

                first_touch  last_touch  time_decay    markov   shapley  \
(Other)            0.000000    0.000000         NaN  0.000000  0.000000
Affiliates         0.000000    0.000000         NaN  0.000000  0.000000
Direct             0.510850    0.665461    0.602170  0.579698  0.544822
Display            0.003617    0.003617    0.004521  0.004347  0.006195
Organic Search     0.207957    0.138336    0.165763  0.209225  0.184215
Paid Search        0.028933    0.022604    0.024864  0.024245  0.026763
Referral           0.228752    0.152803    0.183996  0.163929  0.218768
Social             0.019892    0.017179    0.018686  0.018556  0.019236

                    shao
(Other)              NaN
Affiliates           NaN
Direct          0.607559
Display         0.003448
Organic Search  0.036668
Paid Search     0.016022
Referral        0.330202
Social          0.006101